{% extends "@Annonce/FAnnonces/layout.html.twig" %}
{% block content %}
<div class="bikes">
    <div class="mountain-sec">
        <h2>MOUNTAIN BIKES</h2>
        <a href="single.html"><div class="bike">
                <img src="../front/images/bik3.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike">
                <img src="../front/images/bik1.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike none2">
                <img src="../front/images/bik4.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike none1">
                <img src="../front/images/bik6.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <div class="clearfix"></div>
    </div>

    <div class="singlespeed-sec">
        <h2>SINGLE SPEED-BIKES</h2>
        <a href="single.html"><div class="bike">
                <img src="../front/images/s1.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike">
                <img src="../front/images/s2.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike none2">
                <img src="../front/images/s3.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike none1">
                <img src="../front/images/s4.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <div class="clearfix"></div>
    </div>

    <div class="road-sec">
        <h2>ROAD-BIKES</h2>
        <a href="single.html"><div class="bike">
                <img src="../front/images/r1.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike">
                <img src="../front/images/r3.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike none2">
                <img src="../front/images/r2.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <a href="single.html"><div class="bike none1">
                <img src="../front/images/r4.jpg" alt=""/>
                <div class="bike-cost">
                    <div class="bike-mdl">
                        <h4>NAME<span>Model:M4585</span></h4>
                    </div>
                    <div class="bike-cart">
                        <a class="buy" href="single.html">BUY NOW</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fast-viw">
                    <a href="single.html">Quick View</a>
                </div>
            </div></a>
        <div class="clearfix"></div>
    </div>

</div>
{% endblock %}